
@media screen and (min-width: 600px){

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
main {
  display: grid;
grid-template-columns: 200px auto;
gap: 0%;
height: 100vh;
font-family: 'Nunito', sans-serif;
 }
}
