

body html{
  margin:0;
  padding:0;
}


/* @media only screen and (min-width: 600px){
  .about{
    
    max-height: 100%;
    
    background-repeat: no-repeat;
    background-size:contain;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
} */

.about{
  justify-content: center;
  align-items:center;
  margin:10px;

}

.me{
height: 30%;
width: 20%;
border: solid slateblue .5px;
border-radius: 50%;
float: right;
clear: right;
display: block;
     margin-left: auto;
}