
@media only screen and (min-width: 600px){

ul {
  display: grid;
  align-content: left;
grid-template-areas:  
"E L G R";
list-style-type: none;
}
.getInTouch{
  bottom:0;
display: center;
text-align: center;
}


ul{
  display:center;
  position: absolute; bottom: 1px; 
}

}



