.sub{
  margin:0px;
  display:flex;
  justify-content: center;
  align-items:center; 
  }
.sub{
 
}

.sum{
  display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    position:absolute;
    bottom:10%;
    right:10%;
    left:30%;
      
  }

 .data {
  max-width: 68%;
  max-height: 88%;


 }
  
h3{
  text-align: center;
     text-shadow: rgba(0, 0, 0, 0.19) 0px 12px 25px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
     color: slateblue;
     line-height: 1;     
     
}

img{
  background-repeat: no-repeat;
  background-position: 45% 45%;
  background-size: cover;
  width: 104px;
  height: 68px;
  
} 





