.slider{
  position: relative;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.image{
  width:300px;
  height:50%;
  border-radius:5%
}

.right{
  position: absolute;
  top:50%;
  right:32px;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  user-select:none ;
}

.left{
  position: absolute;
  top:50%;
  right:32px;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity:0;
  transition-duration: 1s ease;
}

.slide-active{
  opacity:1;
  transition-duration:1s;
  transform: scale(1.08);
}